@import url('../../bower_components/bootstrap/dist/css/bootstrap.css');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

@charset "utf-8";

@font-face {
    font-family: myFirstFont;
    src: url(SketchRockwell-Bold.ttf);
}

@font-face {
    font-family: LogoFont;
    src: url(MrDafoe-Regular.ttf);
}

body{
    background-color: white;
    font-family:Calibri;
    z-index:-1;
    color:white;
    position: relative;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.map-canvas {
    height: 400px;
}
/*       NAVBAR CSS         */
.navbar_header{
    position: fixed;
    width: 100%;
    height:70px;
    /*background-color: #512DA8;*/
    /*background:rgba(0,0,0,0.4);*/
	z-index:5;
    background-color: rgba(81,45,168,0.7);
    margin-right: -22px;
}

.logo_header{
    /*width:100%;*/
    /*height:400px;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*z-index: 1;*/
    height: 70px;
    position: absolute;
    left: 3.125%;
    top: 0px;
    z-index: 1;
}

.logo_text_header{
    position:absolute;
    font-family:LogoFont;
    top:7px;
    left:13%;
    color:white;
    font-size:40px;
    z-index: 6;
}

#input-search{
    width: 25%;
    height: 40px;
    padding-left: 1%;
    font-size: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-inline{
    margin-top: 15px;
    color: #000000;
}

.event-search-btn{
    font-size:22px;
    border-color:#512DA8;
    height: 34px;
	border-radius:0;
    padding-top: 2px;
}
#members_value, .city_input_search{
    width: 100%;
    border-radius: 0;
}

.btn
{    background-color:#512DA8;
}
.btn:hover{
    background-color:#4527A0;
    border-color:#4527A0;
}

/*         FULL MEDIA CSS          */

.img-container{
    position: relative;
    top:0px;
    display:inline-block;
    width:101%;
    height:600px;
    background-image:url("../images/MumbaiSkyline.jpg");
    background-size:100% 600px;
    background-repeat:no-repeat;
}

.form-search-heading{
    margin-top: 400px;
    margin-left: 32%;
}


/*EVENTS DIV CSS*/

.grid .darken:hover img {
    opacity: 0.3;
    cursor: pointer;
}

.grid .event:hover img {
    opacity: 0.3;
    cursor: pointer;
}
.event{
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 27px;
}

.darken{
    cursor: pointer;
    margin-bottom: 37px;
}

.figure {
    background-color: black;
}

.featured-image{
    width:100%;
    height:340px;
    opacity:1.0;
}

.featured-image-info{
    position: absolute;
    width: 70%;
    left: 13%;
    top: -34%;
    height: 340px;
}

.events {
    font-size:100px;
    text-align:center;
    /*background-color: rgba(68, 82, 87, 0.1);*/
}


.featured-image-info span {
    top: 190px;
    position: relative;
    width:70%;
    height:340px;
    text-align: center;
    color: white;
}

.event-heading{
    margin-top:30px;
    color:#512DA8;
	font-family:myFirstFont;
	font-size:65px;
}

/*FOOTER CSS*/

#grad {
    /*position: fixed;*/
    /*bottom: 0;*/
    text-align:center;
	background:#512DA8;
    height:280px;
    font-size:30px;
}

.cat-container{
    margin:30px;  
    font-size:65px;
    text-align:center;
}

.category{
    float:left;
    position:relative;
    font-family:myFirstFont;
    top:0;
    /*left:4%;*/
    font-size:35px;
    width: 95%;
    height:122px;
    margin-bottom: 9%;
    padding: 3%;
    border-radius:10px;
    cursor:pointer;
    opacity:0.8;
    text-align:center;
    color:white;

}
.category:hover{opacity:1.0;}

.t1{background:#190033;color:white;}
.t2{background:#4c0099;color:white;}
.t3{background:#330066;color:white;}
.t4{background:#5500aa;color:white;}
.t5{background:#100011;color:white;}
.t6{background:#180022;color:white;}
.t7{background:#6600dd;color:white;}
.t8{background:#100044;color:white;}
.t9{background:#5500aa;color:white;}

/*Event General Details CSS*/
.event-general-details {
    text-align:center;
    height:95px;
    font-size:40px;
    background: white;
}

/*TUSHAR'S STYLING*/

/*social buttons*/
.btn-social{
    color: white;
    opacity:0.9;
}
.btn-social:hover {
    color: white;
    opacity:1;
}
.btn-facebook {
    background-color: #3b5998;
    background-image:url("images/facebook.jpg");
    background-size:auto 50px;
    opacity:0.9;
}
.btn-twitter {
    background-color: #00aced;
    opacity:0.9;
}

.btn-google {
    background-color: #c32f10;
    opacity: 0.9;
}

/*========search field styling=====*/
.angucomplete-dropdown {
    position: absolute;
    z-index: 5;
    width: 91%;
    overflow-y: auto;
    max-height: 200px;
    background-color: #ffffff;
    margin-top: 2px;
}

.angucomplete-row {
    padding: 1%;
    margin: 1%;
}
.angucomplete-row:hover {
    background-color: lightblue;
    color: #000000;
    cursor: pointer;
}
.angucomplete-row:active {
    background-color: lightblue;
    color: #000000;
}

.angucomplete-selected-row {
    background-color: #add8e6;
}

.currently_hovered_search_result{
    background-color: #add8e6;
}
.angucomplete-title {

}
.angucomplete-description {
    font-size: 12px;
}

/*===========MAP CSS STYLING============*/
.map-canvas {
    margin-top: 100px;
    height: 400px;
    width: 100%;
}
hr.event-partition {
    margin: 0px;
    height: 7px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

.schedule_type, .category_type {
    height: 70px;
    font-size: 20px;
    border-bottom: 2px solid #ccc;
    margin-left: 10%;
}
.selectbox{
    position:relative;
    top:56px;
    width:20%;
    height:5px;
    color:black;
    background-color:white;
    cursor:pointer;
}

.event_type{
    position:relative;
    top:-40px;
    margin-left:25%;
    color: #000000;
}

a.event_type:hover{
    text-decoration: none;
    color: #000000;
}

#today{
    margin-left: 20%;
}

.selectbox:hover, .selectedDay{
    background-color:#ccc;
}

.row{
    margin-left: 0;
    margin-right: 0;
	color:white;
}

.selbox,.sel{
    position:relative;
    width:10%;
    height:30px;
    text-align:center;
    color:black;
    background-color:white;
    border-radius:5px;
    cursor:pointer;
}
.selbox:active{
    background-color:#ccc;
}
.sel{
    /*background-color:#ccc;*/
    width: 16%;
    margin-left: 3%;
}

.no_results_div{
    color: rgb(134, 110, 110);
    height: 300px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    padding-top: 70px;
}

/*Footer CSS*/

.join{
     position:absolute;    
     top:121px;
	 left:42%;    
     text-align:center;
     
}

.circ{
  margin-top:5px;  
  width:50px;
  height:50px; 
  border-radius:25px;   
  border: 1px solid white;
  text-align:center;
  padding-top:5px; 
}



/*horizontal line*/

.hline{
    margin-left:10%;
	width:80%;
	height:1px solid #ccc; 

}

.selected{
    background-color: #ccc;
}