@import url('../../bower_components/bootstrap/dist/css/bootstrap.css');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

@charset "utf-8";

@font-face {
    font-family: myFirstFont;
    src: url(SketchRockwell-Bold.ttf);
}

body{
    background-color: white;
    font-family:myFirstFont;
    z-index:-1;
    color:white;
}

.map-canvas {
    height: 400px;
}
/*       NAVBAR CSS         */
.navbar_header{
    background: -webkit-radial-gradient(#190033,#330066); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#330066,#190033); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#330066,#190033); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#330066,#190033); /* Standard syntax */
    height:100px;
    background:#190033;
    z-index:5;
    margin-right: -22px;
}

.logo_header{
    width:100%;
    height:400px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.logo_text_header{
    position:absolute;
    top:90px;
    left:30%;
    color:#FFFFFF;
    font-size:36px;
    z-index: 2;
}

.input-search{
    width: 25%;
    height: 40px;
    padding-left: 1%;
    font-size: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-inline{
    margin-left: 30%;
    margin-top: 27px;
}

.event-search-btn{
    font-family:myFirstFont;
    font-size:25px;
    border-color:white;
    padding:5px 5px;
    width:15%;
    height: 40px;
    display: inline;
    margin-top: -7px;
}

.btn:hover{
    background-color:#290066;
}

/*         FULL MEDIA CSS          */

.img-container{
    display:inline-block;
    width:101%;
    height:600px;
    background-image:url("../images/MumbaiSkyline.jpg");
    background-size:100% 600px;
    background-repeat:no-repeat;
}

.form-search-heading{
    margin-top: 200px;
    margin-left: 23%;
}


/*EVENTS DIV CSS*/

.grid{
    padding-left: 12%;
}


.grid .darken:hover img {
    opacity: 0.3;

}

.darken{
    margin-top: -53px;
    margin-right: -4%;
}


figure {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
    background: black;
    height:400px;
    /*width:70%;*/
}


.featured-image{
    width:100%;
    height:400px;
    opacity:1.0;
}

.featured-image-info{
    position: absolute;
    width: 70%;
    left: 13%;
    top: 7%;
    height: 400px;
}

.events {
    background: url('../images/bg.png') no-repeat bottom;
    background-size: 100% 100%;
    font-size:100px;
    text-align:center;
}


.featured-image-info span {
    top: 100px;
    position: relative;
    width:70%;
    height:400px;
    text-align: center;
    color: white;
}

.event-heading{
    color:#190033;
}

/*FOOTER CSS*/

#grad {
    text-align:center;
    height:200px;
    font-size:40px;
    background: -webkit-radial-gradient(#190033,#330066); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#330066,#190033); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#330066,#190033); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#330066,#190033); /* Standard syntax */
}

.cat-container{
    float:left;
    padding-bottom:50px;
    font-size:100px;
    text-align:center;
}

.category{
    float:left;
    position:relative;
    font-family:myFirstFont;
    top:0;
    left:4%;
    font-size:40px;
    width: 300px;
    height:122px;
    margin: 20px 20px;
    padding: 10px 10px;
    border-radius:10px;
    cursor:pointer;
    opacity:0.8;
    text-align:center;
    color:white;

}
.category:hover{opacity:1.0;}

.t1{background:#190033;color:white;}
.t2{background:#4c0099;color:white;}
.t3{background:#330066;color:white;}
.t4{background:#5500aa;color:white;}
.t5{background:#100011;color:white;}
.t6{background:#180022;color:white;}
.t7{background:#6600dd;color:white;}
.t8{background:#100044;color:white;}
.t9{background:#5500aa;color:white;}

/*TUSHAR'S STYLING*/

/*social buttons*/
.btn-social{
    color: white;
    opacity:0.9;
}
.btn-social:hover {
    color: white;
    opacity:1;
}
.btn-facebook {
    background-color: #3b5998;
    background-image:url("facebook.jpg");
    background-size:auto 50px;
    opacity:0.9;
}
.btn-twitter {
    background-color: #00aced;
    opacity:0.9;
}

.btn-google {
    background-color: #c32f10;
    opacity: 0.9;
}

