<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cat-container">
            <p style="color:#190033;">CATEGORIES</p>

            <div class="category t1"><img src="images/Food.png" style="width:60px;height:60px;"></img><br/>Food</div>
            <div class="category t2"><img src="images/Comedy.png" style="width:50px;height:60px;"></img><br/>Comedy</div>
            <div class="category t3"><img src="images/Music.png" style="width:60px;height:60px;"></img><br/>Music</div>
            <div class="category t4"><img src="images/Trek.png" style="width:60px;height:60px;"></img><br/>Trekking</div>
            <div class="category t5"><img src="images/Party.png" style="width:60px;height:60px;"></img><br/>Nightlife</div>
            <div class="category t6">Events</div>
            <div class="category t7">Culture</div>
            <div class="category t8">Theatre</div>
            <div class="category t9">Sports</div>

        </div>
    </div>
</div>