<div class="row">
    <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cat-container">
           <div class="row">
                <p style="color:#512DA8;font-family:myFirstFont;">CATEGORIES</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t1" ng-click="submitCategory('Food + Drinks')"><img src="images/Food.png" style="width:60px;height:60px;"><br/>FNB</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t2" ng-click="submitCategory('Comedy')"><img src="images/Comedy.png" style="width:50px;height:60px;"><br/>Comedy</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t3" ng-click="submitCategory('Music')"><img src="images/Music.png" style="width:60px;height:60px;"><br/>Music</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t4" ng-click="submitCategory('Outdoor')"><img src="images/Sports.png" style="width:60px;height:60px;"><br/>Outdoor</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t5" ng-click="submitCategory('Nightlife')"><img src="images/NightLife.png" style="width:60px;height:60px;"><br/>Nightlife</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t6" ng-click="submitCategory('Happy Hours')" style="font-size: 28px;"><img src="images/HappyHour.png" style="width:60px;height:60px;"><br/>Happy Hours</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t7" ng-click="submitCategory('Culture')"><img src="images/Culture.png" style="width:60px;height:60px;"><br/>Culture</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t8" ng-click="submitCategory('Theatre')"><img src="images/Theatre.png" style="width:60px;height:60px;"><br/>Theatre</div>
                </div>
            </div>

        </div>
    </div>
    </div>
</div>