<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cat-container">
            <p style="color:#190033;">CATEGORIES</p>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t1"><img src="images/Food.png" style="width:60px;height:60px;"><br/>Food & Drinks</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t2"><img src="images/Comedy.png" style="width:50px;height:60px;"><br/>Comedy</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t3"><img src="images/Music.png" style="width:60px;height:60px;"><br/>Music</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t4"><img src="images/Trek.png" style="width:60px;height:60px;"><br/>Outdoor</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t5"><img src="images/Party.png" style="width:60px;height:60px;"><br/>Nightlife</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t6">Festivals</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t7">Culture</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="category t8">Theatre</div>
                </div>
            </div>











        </div>
    </div>
</div>