<div class="row">
    <hr class="event-partition"/>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="events">
            <div class="row">
                <p class="event-heading">EVENTS</p>
            </div>
            <div class="row">
                <div class="row grid">
                    <div class="col-lg-4 darken">
                        <figure>
                            <img class="featured-image" src="images/Irish.jpg">
                        </figure>
                        <div class="featured-image-info" style="text-align:center;">
                          <span>
                             <h1>Irish House</h1>
                             <h1>(Colaba)</h1>
                             <h2>The Happiest Hours</h2>
                          </span>
                        </div>
                    </div>

                    <div class="col-lg-4 darken">
                        <figure>
                            <img class="featured-image" src="images/House.jpg">
                        </figure>
                        <div class="featured-image-info" style="text-align:center">
                          <span>
                             <h1>Colaba Social</h1>
                             <h1>(Colaba)</h1>
                             <h2>Special Discounts</h2>
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-4 darken">
                        <figure>
                            <img class="featured-image" src="images/TrekM.jpg">
                        </figure>
                        <div class="featured-image-info" style="text-align:center">
                          <span>
                             <h1>Fort Mahuli</h1>
                             <h1>(Karjat)</h1>
                             <h2>Sunday Trek</h2>
                          </span>
                        </div>
                    </div>
                </div>
                <div class="row grid">
                    <div class="col-lg-4 darken">
                        <figure>
                            <img class="featured-image" src="images/HRC.jpg">
                        </figure>
                        <div class="featured-image-info" style="text-align:center">
                          <span>
                             <h1>Hard Rock Cafe</h1>
                             <h1>(Juhu)</h1>
                             <h2>Blackstrat Blues Gig</h2>
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-4 darken">
                        <figure>
                            <img class="featured-image" src="images/aib.jpg">
                        </figure>
                        <div class="featured-image-info" style="text-align:center">
                          <span>
                             <h1>St. Andrew's</h1>
                             <h1>(Bandra)</h1>
                             <h2>AIB KnockOut</h2>
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-4 darken">
                        <figure>
                            <img class="featured-image" src="images/sunburn.jpg">
                        </figure>
                        <div class="featured-image-info" style="text-align:center">
                          <span>
                             <h1>Chitrakoot Grounds</h1>
                             <h1>(Andheri)</h1>
                             <h2>Sunburn EDM</h2>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>