<div class="row">
    <hr class="event-partition"/>
    <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
        <div class="events">
            <div class="row">
                <p class="event-heading">EVENTS</p>
            </div>
            <div class="row">
                <div class="row grid">
                    <div class="col-lg-8 darken">
                        <div class="figure"><img class="featured-image" src="images/Irish.jpg"></div>
                        <div class="featured-image-info" style="text-align:center;">
                          <span>
                             <h2>Happy hours</h2>
                             <h3>FNB</h3>
                             <h3><i class="fa fa-map-marker fa-lg"></i>   Irish House, Colaba</h3>
                          </span>
                        </div>
                    </div>

                    <div class="col-lg-4 darken">
                        <div class="figure"><img class="featured-image" src="images/TrekM.jpg"></div>
                        <div class="featured-image-info" style="text-align:center">
                          <span>
                             <h2>Kalkarai Trek</h2>
                             <h3>Trekking</h3>
                             <h3><i class="fa fa-map-marker fa-lg"></i>   Kalkarai Pinnacle, Kamshet</h3>
                          </span>
                        </div>
                    </div>
                </div>
               
                <div class="row grid">
                    <div class="col-lg-4 darken">
                        <div class="figure"><img class="featured-image" src="images/HRC.jpg"></div>
                        <div class="featured-image-info" style="text-align:center">
                          <span>
                             <h2>The Blues Gig</h2>
                             <h3>Music</h3>
                             <h3><i class="fa fa-map-marker fa-lg"></i>   HardRock Cafe, Fort</h3>
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-4 darken">
                        <div class="figure"><img class="featured-image" src="images/aib.jpg"></div>
                        <div class="featured-image-info" style="text-align:center">
                          <span>
                             <h2>The Knockout</h2>
                             <h3>Comedy</h3>
                             <h3><i class="fa fa-map-marker fa-lg"></i>   St. Andrews Auditorium, Bandra</h3>
                          </span>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 darken">
                        <div class="figure"><img class="featured-image" src="images/sunburn.jpg"></div>
                        <div class="featured-image-info" style="text-align:center">
                          <span>
                            <h2>The EDM Nights</h2>
                             <h3>Music</h3>
                             <h3><i class="fa fa-map-marker fa-lg"></i>   Chitrakoot Grounds,Andheri</h3> 
                          </span>
                        </div>
                    </div>
                    
                     <div class="row grid">
                    <div class="col-lg-4 darken">
                        <div class="figure"><img class="featured-image" src="images/aib.jpg"></div>
                        <div class="featured-image-info" style="text-align:center">
                          <span>
                             <h2>The Knockout</h2>
                             <h3>Comedy</h3>
                             <h3><i class="fa fa-map-marker fa-lg"></i>   St. Andrews Auditorium, Bandra</h3>
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-8 darken">
                        <div class="figure"><img class="featured-image" src="images/House.jpg"></div>
                        <div class="featured-image-info" style="text-align:center">
                          <span>
                             <h2>WorldCup Screening</h2>
                             <h3>NightLife</h3>
                             <h3><i class="fa fa-map-marker fa-lg"></i>   Colaba Social, Colaba</h3>
                          </span>
                        </div>
                    </div>
                    
                    </div>
                    
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</div>