<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer" style="padding: 0px;">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img  src="images/mascot.png" class="logo_footer">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <p class="logo_text_footer">Rolling Scenes</p>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="grad">
            <ul class="unstyled list-layout list-inline footer-details">
               <li>About Us</li><li></li>
               <li>Blog</li><li></li>
               <li>Terms and Conditions</li><li></li>
               <li>Contact Us</li><li></li>
               <hr>
            </ul>


            <div class="join">
            <h1 style="font-size: 20px;">Join us on</h1>
            <ul class="unstyled list-layout list-inline">
               <li class="social-circle facebook-circle"><i class="fa fa-facebook"></i></li>
               <li class="social-circle twitter-circle"><i class="fa fa-twitter"></i></li>
               <li class="social-circle instagram-circle"><i class="fa fa-instagram"></i></li>
               <li class="social-circle google-plus-circle"><i class="fa fa-google-plus"></i></li>
            </ul>
            <p style="font-size:10px;">&copy;RollingScenes,All Rights Reserved</p>

          </div>
        </div>
</div>
    </div>