<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer" style="padding: 0px;">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <a ui-sref="home"><img  src="images/mascot.png" class="logo_footer"></a>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <a ui-sref="home"><p class="logo_text_footer">Rolling Scenes</p></a>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="grad">
            <ul class="unstyled list-layout list-inline footer-details">
               <li>About Us</li>
               <li>Blog</li>
               <li>Terms and Conditions</li>
               <li>Contact Us</li>
               <hr>
            </ul>


            <div class="join">
                <h1 style="font-size: 20px;">Join us on</h1>
                <ul class="unstyled list-layout list-inline">
                   <li class="social-circle facebook-circle"><a target="_blank" class="fa fa-facebook" href="https://www.facebook.com/rollingscenes"></a></li>
                   <li class="social-circle twitter-circle"><a target="_blank" class="fa fa-twitter" href="https://twitter.com/rollingscenes"></a></li>
                   <li class="social-circle instagram-circle"><a target="_blank" class="fa fa-instagram" href="https://instagram.com/rollingscenes"></a></li>
                   <li class="social-circle google-plus-circle"><a target="_blank" class="fa fa-linkedin" href="https://www.linkedin.com/company/rolling-scenes"></a></li>
                </ul>
                <p style="font-size:10px;">&copy;RollingScenes,All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>