<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img  src="images/mascot.png" class="logo_header" style="top:5px;">
                <p style="top:10px;" class="logo_text_header">Rolling Scenes</p>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="grad">     
     <ul style="position:absolute;top:20px;font-size:20px;left:34%" class="unstyled list-layout list-inline">
           <li>About Us</li><li></li>
           <li>Blog</li><li></li>
           <li>Terms and Conditions</li><li></li>
           <li>Contact Us</li><li></li>
           <hr>
     </ul>

     <div class="join">
        <h1>Join us on</h1>     
        <ul class="unstyled list-layout list-inline">
           <li class="circ"><i class="fa fa-facebook"></i></li>
           <li class="circ"><i class="fa fa-twitter"></i></li>
           <li class="circ"><i class="fa fa-instagram"></i></li>
           <li class="circ"><i class="fa fa-google-plus"></i></li>
        </ul>
        <p style="font-size:10px;">&copy;RollingScenes,All Rights Reserved</p>
      
      </div>        
    </div>
</div>