<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="img-container">
            <form method="get" action="/" class="form-inline" >
                    <h1 class="form-search-heading">The city is alive. Come out and play!</h1>
                    <input name="location" class="input-search" type="text"  placeholder="Location">
                    <input name="category" class="input-search" type="text"  placeholder="Category">
                    <button type="submit" class="btn btn-lg btn-primary btn-block event-search-btn">Search</button>
            </form>

        </div>
    </div>
</div>