<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row navbar_header">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img  src="images/logo.png" class="logo_header"><img>
                <p class="logo_text_header">LOGO</p>
            </div>
            <div class="col-lg-9">
                <form method="get" action="/" class="form-inline" >
                    <input name="location" class="input-search" type="text"  placeholder="Location">
                    <input name="category" class="input-search" type="text"  placeholder="Category">
                    <button type="submit" class="btn btn-lg btn-primary btn-block event-search-btn">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>