<div class="row navbar_header">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"  style="width: 12%;">
            <a ui-sref="home"><img  src="images/mascot.png" class="logo_header"></a>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <a ui-sref="home"><p class="logo_text_header">Rolling Scenes</p></a>
        </div>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding" style="z-index: 5;">
        <div class="row">
            <form class="form-inline" role="form" name="AddShareForm" novalidate ng-controller="homeController" ng-submit="AddShareForm.$valid && submit()" >
                <div class="form-group col-lg-12">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 nopadding input-group add-on" style="float: left;">
                        <div class="input-group-btn location-div">
                            <button class="btn btn-default location-button" ng-disabled="true" style="background-color: #eee;"><i class="glyphicon glyphicon-map-marker"></i></button>
                        </div>
                        <input type="text" class="form-control input-md city_input_search" placeholder="City" style="width: 100%;" ng-model="city" ng-disabled="true">

                    </div>
                    <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 nopadding input-group">-->
                        <!--<span class="fa fa-map-marker input-group-addon"></span>-->
                        <!--<input type="text" class="form-control input-md city_input_search" placeholder="City" style="width: 100%;" ng-model="city" ng-disabled="true">-->

                    <!--</div>-->

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 no padding">
                        <angucomplete-alt id="members"
                                          placeholder="Search Here...."
                                          pause="150"
                                          selected-object="testObj"
                                          remote-url="http://rollingscenes.com/server/userController.php?func=getSearchResults&city=Mumbai&q="
                                          remote-url-data-field=""
                                          title-field="area_name"
                                          description-field="type"
                                          event_detail_id-field="event_detail_id"
                                          input-class="form-control form-control-small"/>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nopadding">
                        <button class="blue-button btn btn-lg btn-primary btn-block event-search-btn" type="submit" >Search</button>
                    </div>
                </div>
                <!--<input name="location" class="input-search" type="text"  placeholder="Location">-->
                <!--<input name="category" class="input-search" type="text"  placeholder="Category">-->
                <!--<button type="submit" class="blue-button btn btn-lg btn-primary btn-block event-search-btn">Search</button>-->
            </form>
        </div>
    </div>
</div>