<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div>
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin: auto;">
                        <div class="carousel-caption">
                            <h4>Slide {{$index+1}}</h4>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 event-general-details">
                <h1>Location</h1>
                <p style="font-size:30px;"><img src="images/loc.png" width="40px;" height="40px;"/> Colaba</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 event-general-details">
                <h1>Cost</h1>
                <p style="font-size:30px;"><img src="images/rupee.png" width="40px;" height="40px;"/> Free</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 event-general-details">
                <h1>Date</h1>
                <p style="font-size:30px;"><img src="images/cal.png" width="40px;" height="40px;"/> Feb 10</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 event-general-details">
                <h1>Time</h1>
                <p style="font-size:30px;"><img src="images/clock.png" width="40px;" height="40px;"/> 7 pm</p>
            </div>
            <!--<div class="col-md-12">-->
                <!--<div class="col-md-2 col-md-offset-2" id="grad" style="text-align:center;">-->

                <!--</div>-->

                <!--<div class="col-md-2 col-md-offset-1" id="grad" style="text-align:center;margin-left:5px;">-->

                <!--</div>-->

                <!--<div class="col-md-2 col-md-offset-1" id="grad" style="text-align:center;margin-left:5px;">-->

                <!--</div>-->

                <!--<div class="col-md-2 col-md-offset-1" id="grad" style="text-align:center;margin-left:5px;">-->

                <!--</div>-->

            <!--</div>-->
        </div>
    </div>
</div>