<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="margin-top: 70px;">
        <div class="container">
            <div class="row">
                <div>
                    <img src="server/{{formData.image}}" class="event-detail-image">
                    <!--<carousel interval="myInterval">-->
                    <!--<slide ng-repeat="slide in slides" active="slide.active">-->
                    <!--<img ng-src="{{slide.image}}" style="margin: auto;">-->
                    <!--<div class="carousel-caption">-->
                    <!--<h4>Slide {{$index+1}}</h4>-->
                    <!--</div>-->
                    <!--</slide>-->
                    <!--</carousel>-->
                </div>
            </div>

            <div class="row" style="color:#999;margin-top:30px;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 event-general-details">
                    <h2><i class="fa fa-map-marker fa-lg"></i>{{formData.venue_name}}, {{formData.event_area}}</h2>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 event-general-details">
                    <h2><i class="fa fa-inr fa-lg"></i> {{formData.event_cost}}</h2>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 event-general-details">
                    <h2><i class="fa fa-calendar fa-lg"></i> {{formData.datetime[0].date | date:"dd'th' MMMM"}}</h2>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 event-general-details">
                    <h2><i class="fa fa-clock-o fa-lg"></i> {{formData.datetime[0].start_time}}pm-{{formData.datetime[0].end_time}}pm</h2>
                </div>
            </div>
            <hr class="event-partition">



            <div class="row" style="color:#999;margin-top:20px;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 event-general-details">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 event-general-details">
                    <h1 style="color:#512DA8;font-family:myFirstFont;">Event Description</h1>
                    <p style="font-size:25px;">{{formData.event_overview}}</p>
                </div>
            </div>

            <!--=====================MAP GOES HERE=======================-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <section id="map">
                        <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
                    </section>

                </div>
            </div>

        </div>


        </div>

    </div>
