
<div class="containerN">
    <div class="dnavMain">
        <ul>
            <li><div class="sel">Categories</div></li>
            <li><div class="selbox">Music</div></li>
            <li><div class="selbox">Theatre</div></li>
            <li><div class="selbox">Music</div></li>
            <li><div class="selbox">Theatre</div></li>
        </ul>
    </div>
</div>


<div class="containerN">
    <div class="dnavMain">
        <ul>
            <li><div class="selectbox" id="today"><p>Today</p></div></li>
            <li><div class="selectbox"><p>Tomorrow</p></li>
            <li><div class="selectbox"><p>Later</p></div></li>
        </ul>
    </div>
</div>