<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row" style="margin-top: 15px;">
            <div class="category_type">
                <div class="col-lg-4 col-md-4 col-sm-4 col-ls-4 sel" ng-click="loadAnotherCategory('Food + Drinks')">
                    Food & Drinks
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="loadAnotherCategory('Comedy')">
                    Comedy
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="loadAnotherCategory('Music')">
                    Music
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="loadAnotherCategory('Outdoor')">
                    Outdoor
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="loadAnotherCategory('Nightlife')">
                    Nightlife
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="loadAnotherCategory('Festivals')">
                    Festivals
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="loadAnotherCategory('Culture')">
                    Culture
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="loadAnotherCategory('Theatre')">
                    Theatre
                </div>
            </div>
        </div>

        <div class="row">
            <div class="schedule_type">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 selectbox" id="today">
                    <a class="event_type" ng-click="getTodaysEventsBySearch()">Today</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 selectbox">
                    <a class="event_type" ng-click="getTomorrowsEventsBySearch()">Tomorrow</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 selectbox">
                    <a class="event_type" ng-click="getLatersEventsBySearch()">Later</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
            <div infinite-scroll='loadMore()' infinite-scroll-disabled='do_not_scroll' infinite-scroll-distance='2'>
                <div ng-repeat="i in array_repeat_event">
                    <div class="row grid">
                        <div class="col-lg-4 event" ng-repeat="j in i" ng-click="getEventDetail(formData.event_detail_id)">

                            <div class="figure"><img class="featured-image" src="images/Irish.jpg"></div>
                            <div class="featured-image-info" style="text-align:center;">
                          <span>
                             <h1>{{formData.event_name[0]}}</h1>
                             <h1>(Colaba)</h1>
                             <h2>The Happiest Hours</h2>
                          </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!--<img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>-->


