<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="row">
            <div class="category_type">
                <div class="col-lg-4 col-md-4 col-sm-4 col-ls-4 sel" ng-click="submitCategory('Food & Drinks')">
                    Food & Drinks
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="submitCategory('Comedy')">
                    Comedy
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="submitCategory('Music')">
                    Music
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="submitCategory('Outdoor')">
                    Outdoor
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="submitCategory('Nightlife')">
                    Nightlife
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="submitCategory('Festivals')">
                    Festivals
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="submitCategory('Culture')">
                    Culture
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 selbox" ng-click="submitCategory('Theatre')">
                    Theatre
                </div>
            </div>
        </div>

        <div class="row">
            <div class="schedule_type">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 selectbox" id="today">
                    <a class="event_type" ng-click="getTodaysEventsByCategory()">Today</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 selectbox">
                    <a class="event_type" ng-click="getTomorrowsEventsByCategory()">Tomorrow</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 selectbox">
                    <a class="event_type" ng-click="getLatersEventsByCategory()">Later</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div infinite-scroll='loadMoreCategoryEvent()' infinite-scroll-disabled='do_not_scroll' infinite-scroll-distance='2'>
                <div ng-repeat="i in array_repeat_event">
                    <div class="row grid">
                        <div class="col-lg-4" ng-repeat="j in i">
                            <figure>
                                <img class="featured-image" src="images/Irish.jpg">
                            </figure>
                            <div class="featured-image-info" style="text-align:center;">
                          <span>
                             <h1>{{formData.event_name[0]}}</h1>
                             <h1>(Colaba)</h1>
                             <h2>The Happiest Hours</h2>
                          </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>